/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --main-color: #ff8dcb;
  --background-color: #fff1f7;
  --border-color: #353430;
  --focus-color: #353430;
  --focus-underline-color: #353430;
  --main-color-translucent: rgba(53, 52, 48, 0.4);
  --titel-text-color: #353430;
  --color-h1: #ffc2e6;
  --color-h2: #353430;
  --subtitle-text-color: #353430;
  --text-color: #353430;
  --background-image: url(../images/cover-image-light.png);

  .block-rec {
    display: none;
  }

  .card__link {
    border-bottom: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --main-color: #ff8dcb;
    --background-color: #fff1f7;
    --border-color: #353430;
    --focus-color: #353430;
    --focus-underline-color: #353430;
    --main-color-translucent: rgba(53, 52, 48, 0.4);
    --titel-text-color: #353430;
    --color-h1: #ffc2e6;
    --color-h2: #353430;
    --subtitle-text-color: #353430;
    --text-color: #353430;
    --background-image: url(../images/cover-image-light.png);
  }

  .block-rec {
    display: none;
  }

  .card__link {
    border-bottom: none;
  }
}
